	
<style>

body{
	background-color:#FFFFFF;
	
}
h1{
	font-family: "PT Serif", serif;
	font-size: 25px;
	color:#ffffff;
}

p{
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	color: #000000
}

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgba(120, 255, 43, 0.589);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(84, 229, 255);
  background-color: transparent;
  text-decoration: underline;
}

</style>